@font-face {
	font-family: 'JetBrains';
	src: url('../fonts/JetBrainsMono-Regular.woff2');
}
@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans.ttf');
}
@font-face {
	font-family: 'WorkSans-Italic';
	src: url('../fonts/WorkSans-Italic.ttf');
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(46,46,47);
	color: rgb(240,240,242);
	font-family: 'JetBrains', sans-serif;
}

#root > div {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

#root > div > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

h1 {
	text-align: center;
	font-family: 'WorkSans', sans-serif;
	font-size: 10vw;
}

header, footer {
	display:flex;
	padding: 1em;
	width: 100%;
	justify-content: space-between;
}

header div:last-child, footer div:last-child {
	text-align: right;
}

footer div:first-child {
	z-index: 1;
}
